[submodule "lib/LazyDiyDict"]
	path = lib/LazyDiyDict
	url = https://github.com/Quark3e/LazyDiyDict
[submodule "KeyBindHandler"]
	path = lib/KeyBindHandler
	url = https://github.com/Quark3e/KeyBindHandler.git
[submodule "lib/Pos2d"]
	path = lib/Pos2d
	url = https://github.com/Quark3e/Pos2d.git
[submodule "lib/JsonParser"]
	path = lib/JsonParser
	url = https://github.com/Quark3e/JsonParser.git
[submodule "imgui"]
	path = lib/imgui
	url = https://github.com/Flix01/imgui.git
